/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~ Mixins ~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

	/* ~~~~~~~~~~ Font adjust ~~~~~~~~~~ */

	@function strip-unit($value) {
  		@return $value / ($value * 0 + 1);
	}

	@mixin fluid-type($max-font-size, $min-font-size, $line-height: 1.3) {
  		font-size: $min-font-size;
  		line-height: $line-height;

  		@include media-breakpoint-up(sm) {
  			font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{576px}) / #{strip-unit(1200px - 576px)}));
  		}

  		@include media-breakpoint-up(xl) {
  			font-size: $max-font-size;
  		}
	}

	// @mixin font-adjust-breakpoints($multiplier, $fontSizeBreakpoints, $lineHeightBreakpoints: "") {
	// 	$fontSizeFinal: $fontSizeBreakpoints * $multiplier;
	// 	font-size: round($fontSizeFinal) + px;

	// 	@if $lineHeightBreakpoints != "" {
	// 		$lineHeightFinal: $lineHeightBreakpoints * $multiplier;
	// 		line-height: round($lineHeightFinal) + px;
	// 	}
	// }

	// @mixin font-adjust-breakpoints-single-breakpoint($fifty, $fourty, $thirty, $twenty, $less, $fontSizeSingleBreakpoint, $lineHeightSingleBreakpoint: "") {
	// 	@if $fontSizeSingleBreakpoint >= 50 {
	// 		@include font-adjust-breakpoints($fifty, $fontSizeSingleBreakpoint, $lineHeightSingleBreakpoint);
	// 	} @elseif $fontSizeSingleBreakpoint >= 40 and $fontSizeSingleBreakpoint < 49 {
	// 		@include font-adjust-breakpoints($fourty, $fontSizeSingleBreakpoint, $lineHeightSingleBreakpoint);
	// 	} @elseif $fontSizeSingleBreakpoint >= 30 and $fontSizeSingleBreakpoint < 39 {
	// 		@include font-adjust-breakpoints($thirty, $fontSizeSingleBreakpoint, $lineHeightSingleBreakpoint);
	// 	} @elseif $fontSizeSingleBreakpoint > 22 and $fontSizeSingleBreakpoint < 29 {
	// 		@include font-adjust-breakpoints($twenty, $fontSizeSingleBreakpoint, $lineHeightSingleBreakpoint);
	// 	} @elseif $fontSizeSingleBreakpoint <= 22 {
	// 		font-size: ($fontSizeSingleBreakpoint - $less) + px;

	// 		@if $lineHeightSingleBreakpoint != "" {
	// 			line-height: ($lineHeightSingleBreakpoint - $less) + px;
	// 		}
	// 	}
	// }

	// @mixin font-adjust($fontSize, $lineHeight: "") {
	// 	font-size: $fontSize + px;

	// 	@if $lineHeight != "" {
	// 		line-height: $lineHeight + px;
	// 	} @else {
	// 		line-height: 1.3;
	// 	}

	// 	@include media-breakpoint-down(lg) {
	// 		@include font-adjust-breakpoints-single-breakpoint(0.87, 0.89, 0.91, 0.93, 1, $fontSize, $lineHeight);
	// 	}

	// 	@include media-breakpoint-down(md) {
	// 		@include font-adjust-breakpoints-single-breakpoint(0.75, 0.77, 0.79, 0.81, 2, $fontSize, $lineHeight);
	// 	}

	// 	@include media-breakpoint-down(sm) {
	// 		@include font-adjust-breakpoints-single-breakpoint(0.65, 0.67, 0.69, 0.71, 2, $fontSize, $lineHeight);
	// 	}

	// 	@include media-breakpoint-down(xs) {
	// 		@include font-adjust-breakpoints-single-breakpoint(0.61, 0.63, 0.65, 0.67, 2, $fontSize, $lineHeight);
	// 	}
	// }


	/* ~~~~~~~~~~ Letter spacing ~~~~~~~~~~~ */

	@mixin letter-spacing($letterSpacing) {
		$letterSpacingToEm: ($letterSpacing * 0.001);

		letter-spacing: $letterSpacingToEm + em;

		@include media-breakpoint-down(lg) {
			$letterSpacingToEmAfterChangeSize: ($letterSpacingToEm * 0.8);

			letter-spacing: $letterSpacingToEmAfterChangeSize + em;
		}

		@include media-breakpoint-down(md) {
			$letterSpacingToEmAfterChangeSize: ($letterSpacingToEm * 0.6);

			letter-spacing: $letterSpacingToEmAfterChangeSize + em;
		}

		@include media-breakpoint-down(sm) {
			$letterSpacingToEmAfterChangeSize: ($letterSpacingToEm * 0.4);

			letter-spacing: $letterSpacingToEmAfterChangeSize + em;
		}

		@include media-breakpoint-down(xs) {
			$letterSpacingToEmAfterChangeSize: ($letterSpacingToEm * 0.2);

			letter-spacing: $letterSpacingToEmAfterChangeSize + em;
		}
	}