/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~ Mixins ~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

	/* ~~~~~~~~~~ Font adjust ~~~~~~~~~~ */

	@function strip-unit($value) {
  		@return $value / ($value * 0 + 1);
	}

	@mixin fluid-type($max-font-size, $min-font-size, $line-height: 1.3) {
  		font-size: $min-font-size;
  		line-height: $line-height;

  		@include media-breakpoint-up(sm) {
  			font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{576px}) / #{strip-unit(1200px - 576px)}));
  		}

  		@include media-breakpoint-up(xl) {
  			font-size: $max-font-size;
  		}
	}


	/* ~~~~~~~~~~ Letter spacing ~~~~~~~~~~~ */

	@mixin letter-spacing($letterSpacing) {
		$letterSpacingToEm: ($letterSpacing * 0.001);
		$letterSpacingToEmAfterChangeSize: ($letterSpacingToEm * 0.2);

		letter-spacing: $letterSpacingToEmAfterChangeSize + em;

		@include media-breakpoint-up(sm) {
			$letterSpacingToEmAfterChangeSize: ($letterSpacingToEm * 0.4);

			letter-spacing: $letterSpacingToEmAfterChangeSize + em;
		}

		@include media-breakpoint-up(md) {
			$letterSpacingToEmAfterChangeSize: ($letterSpacingToEm * 0.6);

			letter-spacing: $letterSpacingToEmAfterChangeSize + em;
		}

		@include media-breakpoint-up(lg) {
			$letterSpacingToEmAfterChangeSize: ($letterSpacingToEm * 0.8);

			letter-spacing: $letterSpacingToEmAfterChangeSize + em;
		}

		@include media-breakpoint-up(xl) {
			letter-spacing: $letterSpacingToEm + em;
		}
	}