/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~ Repeaters ~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

    %absolute-center {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    %single-transition {
        transition: all 0.2s ease-in-out;
    }

    .vertical-center {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);

        &--disable {
            position: static;
            top: 0;
            -webkit-transform: translateY(0);
                -ms-transform: translateY(0);
                    transform: translateY(0);
        }
    }

    .background-cover {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
    }

    .hide {
        text-indent: -998em;
        height: 0px;
    }

    .clearfix {
        clear: both;
    }