/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~ Repeaters ~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

    /* ~~~~~~~~~~ Absolute center ~~~~~~~~~~ */

    %absolute-center {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }


    /* ~~~~~~~~~~ Single transition ~~~~~~~~~~ */

    %single-transition {
        transition: all 0.2s ease-in-out;
    }


    /* ~~~~~~~~~~ Vertical center ~~~~~~~~~~ */

    .vertical-center {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);

        &--disable {
            position: static;
            top: 0;
            -webkit-transform: translateY(0);
                -ms-transform: translateY(0);
                    transform: translateY(0);
        }
    }


    /* ~~~~~~~~~~ Background cover ~~~~~~~~~~ */

    .background-cover {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
    }


    /* ~~~~~~~~~~ Hide ~~~~~~~~~~ */

    .hide {
        text-indent: -998em;
        height: 0;
        margin: 0;
        padding: 0;
    }


    /* ~~~~~~~~~~ Clearfix ~~~~~~~~~~ */

    .clearfix {
        clear: both;
    }


    /* ~~~~~~~~~~ Lists ~~~~~~~~~~ */

    .centered-list {
        text-align: center;

        @include media-breakpoint-down(sm) {
            text-align: left;
        }

        li {
            position: relative;
            display: inline-block;

            @include media-breakpoint-down(sm) {
                display: block;
            }
        }
    }

    .reset-list {
        list-style: none;

        ul,
        ol {
            list-style: none;
        }

        li {
            text-indent: 0;
        }
    }


    /* ~~~~~~~~~~ Overflow ~~~~~~~~~~ */

    .overflow-x-hidden {
        overflow-x: hidden;
    }


    /* ~~~~~~~~~~ Icons ~~~~~~~~~~ */

    i {
        line-height: 0;
        vertical-align: middle;
    }


    /* ~~~~~~~~~~ Element paddings and margins ~~~~~~~~~~ */

    .element-paddings {
        padding: 10vw 0;

        @include media-breakpoint-up(md) {
            padding: 7.5vw 0;
        }

        @include media-breakpoint-up(lg) {
            padding: 5vw 0;
        }

        @include media-breakpoint-up(xl) {
            padding: 2.5vw 0;
        }

        &--top {
            padding-top: 10vw;
            padding-bottom: 0;

            @include media-breakpoint-up(md) {
                padding-top: 7.5vw;
            }

            @include media-breakpoint-up(lg) {
                padding-top: 5vw;
            }

            @include media-breakpoint-up(xl) {
                padding-top: 2.5vw;
            }
        }

        &--bottom {
            padding-bottom: 10vw;
            padding-top: 0;

            @include media-breakpoint-up(md) {
                padding-bottom: 7.5vw;
            }

            @include media-breakpoint-up(lg) {
                padding-bottom: 5vw;
            }

            @include media-breakpoint-up(xl) {
                padding-bottom: 2.5vw;
            }
        }
    }

    .element-margins {
        margin: 10vw 0;

        @include media-breakpoint-up(md) {
            margin: 7.5vw 0;
        }

        @include media-breakpoint-up(lg) {
            margin: 5vw 0;
        }

        @include media-breakpoint-up(xl) {
            margin: 2.5vw 0;
        }

        &--top {
            margin-top: 10vw;
            margin-bottom: 0;

            @include media-breakpoint-up(md) {
                margin-top: 7.5vw;
            }

            @include media-breakpoint-up(lg) {
                margin-top: 5vw;
            }

            @include media-breakpoint-up(xl) {
                margin-top: 2.5vw;
            }
        }

        &--bottom {
            margin-bottom: 10vw;
            margin-top: 0;

            @include media-breakpoint-up(md) {
                margin-bottom: 7.5vw;
            }

            @include media-breakpoint-up(lg) {
                margin-bottom: 5vw;
            }

            @include media-breakpoint-up(xl) {
                margin-bottom: 2.5vw;
            }
        }
    }


    /* ~~~~~~~~~~ Small element margin top ~~~~~~~~~~ */

    .small-element-margin-top {
        margin-top: 3vw;

        @include media-breakpoint-up(md) {
            margin-top: 2vw;
        }
    }


    /* ~~~~~~~~~~ Flexbox ~~~~~~~~~~~ */

    .flexbox {
        display: flex;
        list-style: none;

        &--space-between {
            justify-content: space-between;

            > li {
                padding: 0 15px;

                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;
                }
            }
        }

        &--wrap {
            flex-wrap: wrap;
        }
    }
