/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~ Variables ~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

	/* ~~~~~~~~~~ Colours ~~~~~~~~~~ */

	$primary-color: red;


	/* ~~~~~~~~~~ Paddings ~~~~~~~~~~ */

	$element-space__xl: 75px;
	$element-space__lg: 70px;
	$element-space__md: 65px;
	$element-space__sm: 60px;
	$element-space__xs: 55px;


	/* ~~~~~~~~~~ WP Admin Bar heights ~~~~~~~~~~ */

	$mobile-wp-admin-bar-height: 46px;
  	$desktop-wp-admin-bar-height: 32px;