/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~ Variables ~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

	/* ~~~~~~~~~~ Colours ~~~~~~~~~~ */

	// $primary-color: #XXXXXX;


	/* ~~~~~~~~~~ Paddings ~~~~~~~~~~ */

	$element-space__xl: 75px;
	$element-space__lg: 65px;
	$element-space__md: 55px;
	$element-space__sm: 45px;
	$element-space__xs: 40px;

