/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~ Variables ~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

	/* ~~~~~~~~~~ Colours ~~~~~~~~~~ */

	// $color: #XXXXXX;


	/* ~~~~~~~~~~ Paddings ~~~~~~~~~~ */

	$section-space__xl: 75px;
	$section-space__lg: 60px;
	$section-space__md: 45px;
	$section-space__sm: 40px;
	$section-space__xs: 35px;

