/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~ Variables ~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

	/* ~~~~~~~~~~ Colours ~~~~~~~~~~ */

	// $color: #XXXXXX;


	/* ~~~~~~~~~~ Paddings ~~~~~~~~~~ */

	$section-padding__xl: 75px;
	$section-padding__lg: 50px;
	$section-padding__md: 35px;
	$section-padding__sm: 30px;
	$section-padding__xs: 25px;

