/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~ General ~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

    /* ~~~~~~~~~~ Body ~~~~~~~~~~ */

    body {
        // @include lato('medium');
        // color: #000;
        // @include font-adjust(18, 26);
    }


    /* ~~~~~~~~~~ Headlines ~~~~~~~~~~ */

    h1 {
        // @include lato('regular');
        // color: $navy-blue;
        // @include font-adjust(46, 56);
    }

    h2 {
        // @include lato('medium');
        // color: $navy-blue;
        // @include font-adjust(30, 38);
    }

    h3 {
        // @include lato('bold');
        // color: $navy-blue;
        // @include font-adjust(21, 27);
    }


    /* ~~~~~~~~~~ Paragraphs ~~~~~~~~~~ */

    p {
        margin-top: 25px;

        b,
        strong {
            // @include lato('bold');
        }

        a {
            border-bottom: 1px dotted transparent;

            &:hover,
            &:focus {
                border-color: inherit;
            }
        }
    }


    /* ~~~~~~~~~~ ul, ol lists ~~~~~~~~~~ */

    ul {
        list-style-type: disc;
    }

    ol {
        list-style-type: decimal;
    }

    ul,
    ol {
        list-style-position: inside;

        ul,
        ol {
            list-style-position: inside;
            margin-left: 15px;
        }

        ul {
            list-style-type: circle;
        }

        ol {
            list-style-type: lower-latin;
        }

        li {
            @extend p;
            text-indent: -1em;
            padding-left: 1em;
            margin-top: 7px;
        }
    }

    .centered-list {
        text-align: center;

        ul {
            display: inline-block;
            margin: 0;
            padding: 0;
            zoom:1;
            *display: inline;

            li {
                float: left;
                text-indent: 0;
                padding: 0;
                margin: 0;
            }
        }
    }

    ul,
    ol {
        &.reset-list {
            list-style: none;
            padding: 0;

            ul,
            ol {
                list-style: none;
            }

            li {
                text-indent: 0;
                padding: 0;
                margin: 0;
            }
        }
    }


    /* ~~~~~~~~~~ Images ~~~~~~~~~~ */

    img {
        width: 100%;
        height: auto;
        margin-top: 25px;

        &.alignleft {
            float: left;
            width: auto;
            margin: 0 25px 15px 0;

            @include media-breakpoint-down(xs) {
                width: 100%;
            }
        }

         &.alignright {
            float: right;
            width: auto;
            margin: 0 0 15px 25px;

            @include media-breakpoint-down(xs) {
                width: 100%;
            }
        }
    }


    /* ~~~~~~~~~~ Section ~~~~~~~~~~ */

    .section-paddings {
        &--both {
            padding: $section-space__xl 0;

            @include media-breakpoint-down(lg) {
                padding: $section-space__lg 0;
            }

            @include media-breakpoint-down(md) {
                padding: $section-space__md 0;
            }

            @include media-breakpoint-down(sm) {
                padding: $section-space__sm 0;
            }

            @include media-breakpoint-down(xs) {
                padding: $section-space__xs 0;
            }
        }

        &--top {
            padding-top: $section-space__xl;

            @include media-breakpoint-down(lg) {
                padding-top: $section-space__lg;
            }

            @include media-breakpoint-down(md) {
                padding-top: $section-space__md;
            }

            @include media-breakpoint-down(sm) {
                padding-top: $section-space__sm;
            }

            @include media-breakpoint-down(xs) {
                padding-top: $section-space__xs;
            }
        }

        &--bottom {
            padding-bottom: $section-space__xl;

            @include media-breakpoint-down(lg) {
                padding-bottom: $section-space__lg;
            }

            @include media-breakpoint-down(md) {
                padding-bottom: $section-space__md;
            }

            @include media-breakpoint-down(sm) {
                padding-bottom: $section-space__sm;
            }

            @include media-breakpoint-down(xs) {
                padding-bottom: $section-space__xs;
            }
        }
    }

    .section-margins {
        &--both {
            margin: $section-space__xl 0;

            @include media-breakpoint-down(lg) {
                margin: $section-space__lg 0;
            }

            @include media-breakpoint-down(md) {
                margin: $section-space__md 0;
            }

            @include media-breakpoint-down(sm) {
                margin: $section-space__sm 0;
            }

            @include media-breakpoint-down(xs) {
                margin: $section-space__xs 0;
            }
        }

        &--top {
            margin-top: $section-space__xl;

            @include media-breakpoint-down(lg) {
                margin-top: $section-space__lg;
            }

            @include media-breakpoint-down(md) {
                margin-top: $section-space__md;
            }

            @include media-breakpoint-down(sm) {
                margin-top: $section-space__sm;
            }

            @include media-breakpoint-down(xs) {
                margin-top: $section-space__xs;
            }
        }

        &--bottom {
            margin-bottom: $section-space__xl;

            @include media-breakpoint-down(lg) {
                margin-bottom: $section-space__lg;
            }

            @include media-breakpoint-down(md) {
                margin-bottom: $section-space__md;
            }

            @include media-breakpoint-down(sm) {
                margin-bottom: $section-space__sm;
            }

            @include media-breakpoint-down(xs) {
                margin-bottom: $section-space__xs;
            }
        }
    }
