/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~ General ~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

    /* ~~~~~~~~~~ Body ~~~~~~~~~~ */

    body {
        // @include primary-font('regular');
        // @include fluid-type(18px, 16px);
        background: #fff;
    }


    /* ~~~~~~~~~~ Headlines ~~~~~~~~~~ */

    h1 {
        // @include primary-font('regular');
        // @include fluid-type(42px, 32px);
    }


    /* ~~~~~~~~~~ Text elements ~~~~~~~~~~ */

    b,
    strong {
        // @include primary-font('bold');
    }

    em {
        font-style: italic;
    }


    /* ~~~~~~~~~~ To top ~~~~~~~~~~ */

    .return-to-top {
        position: fixed;
        bottom: 50px;
        right: 50px;
        background: #aaa;
        width: 45px;
        height: 45px;
        text-decoration: none;
        opacity: 0;
        visibility: hidden;
        z-index: 5;
        border-radius: 50%;
        text-align: center;
        color: #fff;

        @include media-breakpoint-down(md) {
            display: none;
        }

        &--visible {
            @extend %single-transition;
            opacity: 0.75;
            visibility: visible;

            &:hover {
                opacity: 1;
            }
        }

        i {
            @include fluid-type(16px, 15px);
            position: relative;
            top: -2px;
        }
    }


    /* ~~~~~~~~~~ Social Icons ~~~~~~~~~~ */

    .social-icons {
        &__item {
            margin: 0 2.5px;

            @include media-breakpoint-up(sm) {
                margin: 0 5px;
            }

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }

            &__social-icon-link {
                display: block;
                width: 35px;
                height: 35px;
                border-radius: 50%;
                background: $primary-color;
                color: #fff;

                @include media-breakpoint-up(sm) {
                    width: 37.5px;
                    height: 37.5px;
                }

                @include media-breakpoint-up(md) {
                    width: 40px;
                    height: 40px;
                }

                &:hover,
                &:focus {
                    background: darken($primary-color, 5%);
                    color: #fff;
                }
            }
        }
    }


    /* ~~~~~~~~~~ Main ~~~~~~~~~~ */

    #main {
        overflow: hidden;
        padding-top: 65px;

        .admin-bar & {
            padding-top: 65px + $mobile-wp-admin-bar-height;
        }
    }
