/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~ General ~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

    /* ~~~~~~~~~~ Body ~~~~~~~~~~ */

    body {
        // @include primary-font('regular');
        // @include font-adjust(18, 26);
    }


    /* ~~~~~~~~~~ Headlines ~~~~~~~~~~ */

    h1 {
        // @include primary-font('regular');
        // @include font-adjust(18, 26);
    }


    /* ~~~~~~~~~~ Text elements ~~~~~~~~~~ */

    b,
    strong {
        // @include primary-font('bold');
    }

    em {
        font-style: italic;
    }


    /* ~~~~~~~~~~ Images ~~~~~~~~~~ */

    img {
        display: inline-block;
    }


    /* ~~~~~~~~~~ To top ~~~~~~~~~~ */

    #return-to-top {
        position: fixed;
        bottom: 50px;
        right: 50px;
        background: #aaa;
        width: 45px;
        height: 45px;
        text-decoration: none;
        opacity: 0;
        visibility: hidden;
        z-index: 5;
        border-radius: 50%;
        text-align: center;
        color: #fff;

        @include media-breakpoint-down(md) {
            display: none;
        }

        &:hover {
            opacity: 1;
        }

        &.isVisible {
            opacity: 0.75;
            visibility: visible;
            @extend %single-transition;
        }

        i {
            position: relative;
            top: -2px;
        }
    }
