/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~ Header ~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

	.main-header {
		@include admin-sticky-fix();
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 10;

		.navbar {
			display: block;
			padding: 0;

			.navbar-brand {
				display: block;
				padding: 0;
				margin: 0;
			}

			.navbar-nav {
				flex-direction: inherit;
				display: none;

				@include media-breakpoint-up(md) {
					display: flex;
				}
			}

			.hamburger {
			    display: block;
			    transform: scale(0.7);
			    padding: 0;
			    width: 40px;
			    height: 24px;

			    @include media-breakpoint-up(md) {
			        display: none;
			    }

			    .hamburger-box {
			        .hamburger-inner {
			            &,
			            &:after,
			            &:before {
			                background-color: #000;
			                height: 3px;
			                border-radius: 3px;
			            }
			        }
			    }
			}
		}
	}