/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~ Header ~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

	.main-header {
		@include admin-sticky-fix();
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 10;

		.navbar {
			display: block;

			.navbar-nav {
				flex-direction: inherit;
			}
		}
	}